<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Capture Boxes</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/popup.css" />
</head>

<body>
    <div class="container">
        <h1>
            <img src="https://inventorycapture.com/api/images/logo/logo-main.png" width="256px" />
        </h1>
        <h3>
            <%= project.label %> Boxes
        </h3 st>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Box</th>
                        <th>Part</th>
                        <th>Status</th>
                        <th>Picture</th>
                        <th>DC</th>
                        <th>MPN</th>
                        <th>Secondary PN</th>
                        <th>Manufacturer</th>
                        <th>Qty</th>
                        <th>Serial/Lot #</th>
                        <th>COO</th>
                        <th>RoHS</th>
                        <th>MSL</th>
                    </tr>
                </thead>
                <% project.boxes.forEach(box=> { %>
                    <tbody class="collapsed">
                        <tr class="box-row">
                            <td colspan="13">
                                <a class="collapsible"  data-target="part-row-<%= box.id %>" href="javascript:void(0)"><%= box.label %></a>
                            </td>
                        </tr>
                        <% box.parts.forEach(part=> { %>
                            <tr class="part-row part-row-<%= box.id %>">
                                <td class="nested-cell"></td>
                                <td colspan="12">
                                    <%= part.label %>
                                </td>
                            </tr>
                            <%- generateCaptureRow(box.id, part.id, part.label_capture) %>
                            <% if(part.supplement_captures?.length) { %>
                                <tr class="part-row part-row-<%= box.id %>">
                                    <td class="nested-cell" colspan="3"></td>
                                    <td colspan="10">
                                        <a href="javascript:void(0)" class="collapsible" data-target="part-supplemental-<%= part.id %>">SUPPLEMENTAL (<%= part.supplement_captures?.length %>)</a>
                                    </td>
                                </tr>
                            <% } %>
                            <% part.supplement_captures.forEach((capture, index)=> { %>
                                <%- generateCaptureRow(box.id, part.id, capture, index) %>
                            <% }) %>
                        <% }) %>
                    </tbody>
                <% }) %>
            
            </table>
        </div>
    </div>

    <!-- Lightbox Structure -->
    <div class="lightbox" id="lightbox">
        <div class="title">
            <h2></h2>
            <span class="close" >&times;</span>
        </div>
        <div class="lightbox-contents">
            <img id="lightbox-image" src="" alt="Picture">
            <div class="image-container">
                <img id="lightbox-image" src="" alt="Picture">
            </div>
            <table class="editable-table editable-fields">
                <tbody>
                    <tr>
                        <td>DC:</td>
                        <td><input data-dc data-type="dc" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>MPN:</td>
                        <td><input data-mpn data-type="mpn" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Secondary PN:</td>
                        <td><input data-ipn data-type="ipn" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Manufacturer:</td>
                        <td><input data-mfr data-type="mfr" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Qty:</td>
                        <td><input data-qty data-type="qty" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Serial/Lot #:</td>
                        <td><input data-serial data-type="serial" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>COO:</td>
                        <td><input data-coo data-type="coo" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>RoHS:</td>
                        <td><input data-rohs data-type="rohs" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>MSL:</td>
                        <td><input data-msl data-type="msl" type="text" value=""></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="submit-container">
            <button type="button" class="disabled submit" disabled>SUBMIT</button>
        </div>
    </div>

    <script src="/public/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/public/js/boxes.js"></script>
</body>

</html>