<div class="container">
    <h1>
        <img src="https://inventorycapture.com/api/images/logo/logo-main.png" width="256px" />
    </h1>
    <div class="nav">
        <nav class="breadcrumb">
            <a href="/"><i class="fa-solid fa-home"></i> Home</a> <i class="fa-solid fa-chevron-right"></i>
            <a href="/projects">Projects</a> <i class="fa-solid fa-chevron-right"></i>
            <span>Boxes</span>
        </nav>
        <span class="spacer"></span>
        <div class="downloader" id="download">
            <i class="fa-solid fa-circle-down"></i> Download
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Box</th>
                    <th>Part</th>
                    <th>Status</th>
                    <th>Picture</th>
                    <th>DC</th>
                    <th>MPN</th>
                    <th>Secondary PN</th>
                    <th>Manufacturer</th>
                    <th>Qty</th>
                    <th>Serial/Lot #</th>
                    <th>COO</th>
                    <th>RoHS</th>
                    <th>MSL</th>
                </tr>
            </thead>
            <% project.boxes.forEach(box=> { %>
                <tbody class="collapsed">
                    <tr class="box-row">
                        <td colspan="13">
                            <a class="collapsible" data-target="part-row-<%= box.id %>" href="javascript:void(0)">
                                <span>
                                    <%= box.label %>
                                </span>
                                <i class="fa-solid fa-chevron-right"></i>
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </td>
                    </tr>
                    <% box.parts.forEach(part=> { %>
                        <tr class="part-row part-row-<%= box.id %>">
                            <td class="nested-cell"></td>
                            <td colspan="12">
                                <%= part.label %>
                            </td>
                        </tr>
                        <%- generateCaptureRow(box.id, part.id, part.label_capture) %>
                            <% if(part.supplement_captures?.length) { %>
                                <tr class="part-row part-row-<%= box.id %> collapsed">
                                    <td class="nested-cell" colspan="3"></td>
                                    <td colspan="10">
                                        <a href="javascript:void(0)" class="collapsible"
                                            data-target="part-supplemental-<%= part.id %>">
                                            SUPPLEMENTAL (<%= part.supplement_captures?.length %>)</a>
                                        <i class="fa-solid fa-chevron-right"></i>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </td>
                                </tr>
                                <% } %>
                                    <% part.supplement_captures.forEach((capture, index)=> { %>
                                        <%- generateCaptureRow(box.id, part.id, capture, index) %>
                                            <% }) %>
                                                <% }) %>
                </tbody>
                <% }) %>
        </table>
    </div>
</div>

<!-- Lightbox Structure -->
<div class="lightbox-backdrop" id="lightbox-backdrop">
    <div class="lightbox loading" id="lightbox">
        <div class="loader">
            Please wait...
        </div>
        <div class="title">
            <h2></h2>
            <span class="close">&times;</span>
        </div>
        <div class="lightbox-contents">
            <img id="lightbox-image" src="" alt="Picture">
            <div class="image-container">
                <img id="lightbox-image" src="" alt="Picture">
            </div>
            <table class="editable-table editable-fields">
                <tbody>
                    <tr>
                        <td>DC:</td>
                        <td><input data-dc data-type="dc" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>MPN:</td>
                        <td><input data-mpn data-type="mpn" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Secondary PN:</td>
                        <td><input data-ipn data-type="ipn" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Manufacturer:</td>
                        <td><input data-mfr data-type="mfr" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Qty:</td>
                        <td><input data-qty data-type="qty" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>Serial/Lot #:</td>
                        <td><input data-serial data-type="serial" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>COO:</td>
                        <td><input data-coo data-type="coo" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>RoHS:</td>
                        <td><input data-rohs data-type="rohs" type="text" value=""></td>
                    </tr>
                    <tr>
                        <td>MSL:</td>
                        <td><input data-msl data-type="msl" type="text" value=""></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="submit-container">
            <button type="button" class="disabled submit" disabled>SUBMIT</button>
        </div>
    </div>
</div>

<script src="/public/js/boxes.js"></script>
<script src="/public/js/downloader.js"></script>
<script>
    $(function () {
        // Download
        $('#download').on('click', () => {
            $.ajax({
                url: `${location.href}?download=1`,
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': sessionStorage.getItem('token')
                },
                success: function (response) {
                    console.log(response)
                    const { project } = response
                    const data = []
                    if (!project || !project.boxes) {
                        alert('No projects to download')
                    }
                    else {
                        const def = {
                            Box: '', Part: '', Status: '', Picture: '', DC: '', MPN: '', 'Secondary PN': '', Manufacturer: '', Qty: '', 'Serial/Lot #': '', COO: '', RoHS: '', MSL: ''
                        }

                        const getCaptureData = (capture, index) => {
                            const captureData = capture.capture_data
                            const data = {
                                Status: captureData.status,
                                Picture: `${capture.is_label_photo == 1 ? 'LABEL' : `SUPPLEMENTAL ${index + 1}`}\nhttps://inventorycapture.com/api/uploads/${capture.filename}\nTaken: ${capture.taken_on}`,
                                DC: captureData.data?.dc || '',
                                MPN: captureData.data?.mpn || '',
                                'Secondary PN': captureData.data?.ipn || '',
                                Manufacturer: captureData.data?.mfr || '',
                                Qty: captureData.data?.qty || '',
                                'Serial/Lot #': captureData.data?.serial || '',
                                COO: captureData.data?.coo || '',
                                RoHS: captureData.data?.rohs || '',
                                MSL: captureData.data?.msl || '',
                            }
                            return data
                        }

                        project.boxes.map((box) => {
                            data.push({ ...def, Box: box.label })
                            if (box.parts) {
                                box.parts.map((part, index) => {
                                    data.push({ ...def, Part: part.label })
                                    if (part.label_capture?.id) {
                                        if (part.label_capture.capture_data?.id) {
                                            const csvData = getCaptureData(part.label_capture)
                                            data.push({ ...def, ...csvData })
                                        }
                                        else
                                            data.push({ ...def, Status: 'Pending' })
                                    }
                                    if (part.supplement_captures) {
                                        part.supplement_captures.map((capture, index) => {
                                            const csvData = getCaptureData(capture, index)
                                            data.push({ ...def, ...csvData })
                                            // data.push({ ...def, Status: capture.capture_data?.status || '' })
                                        })
                                    }
                                })
                            }
                        })
                    }

                    console.log('data', data)
                    const csvContent = generateCSV(data)
                    downloadCSV(csvContent, 'boxes.csv');
                },
                error: function (xhr, status, error) {
                    console.error('Error loading content:', error);
                }
            })
        })
    })
</script>