<div class="container">
    <h1>
        <img src="https://inventorycapture.com/api/images/logo/logo-main.png" width="256px" />
    </h1>

    <!-- <nav class="breadcrumb">
        <a href="/"><i class="fa-solid fa-home"></i> Home</a> <i class="fa-solid fa-chevron-right"></i>
        <span>Projects</span>
    </nav> -->

    <div class="nav">
        <nav class="breadcrumb">
            <a href="/"><i class="fa-solid fa-home"></i> Home</a> <i class="fa-solid fa-chevron-right"></i>
            <span>Projects</span>
        </nav>
        <span class="spacer"></span>
        <div class="downloader" id="download">
            <i class="fa-solid fa-circle-down"></i> Download
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Project #</th>
                <th>Project Name</th>
                <th>Boxes</th>
                <th>Parts</th>
                <th>Photos</th>
            </tr>
        </thead>
        <tbody>
            <% projects.forEach(project=> { %>
                <tr class="project-row">
                    <td>
                        <%= project.id %>
                    </td>
                    <td><a href="projects/<%= project.id %>/boxes">
                            <%= project.label %>
                        </a></td>
                    <td>
                        <%= project.boxes.length %>
                    </td>
                    <td>
                        <%= project.parts %>
                    </td>
                    <td>
                        <%= project.captures %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>

<script src="/public/js/downloader.js"></script>
<script>
    $(function () {
        // Download
        $('#download').on('click', () => {
            $.ajax({
                url: `${location.href}?download=1`,
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': sessionStorage.getItem('token')
                },
                success: function (response) {
                    console.log(response)
                    let { projects } = response
                    if (projects.length) {
                        projects = projects.map((project, index) => {
                            return {
                                'Project #': index + 1,
                                'Project Name': project.label,
                                'Boxes': project.boxes.length,
                                'Parts': project.parts,
                                'Photos': project.captures
                            }
                        })
                        const csvContent = generateCSV(projects)
                        console.log('csvContent', csvContent)

                        downloadCSV(csvContent, 'projects.csv');
                    }
                    else {
                        alert('No projects to download')
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error loading content:', error);
                }
            })
        })
    })
</script>