<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Capture Projects</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        .container {
            margin: 0;
            padding: 20px;
            background: #fff;
            border-radius: 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #007BFF;
            padding-top: 0;
            margin-top: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #007BFF;
            color: #fff;
        }

        .project-row {
            background-color: #f0f8ff;
            font-weight: bold;
        }

        .box-row,
        .part-row,
        .picture-row {
            background-color: #ffffff;
        }

        .nested-cell {
            padding-left: 20px;
        }

        /* Lightbox styles */
        .lightbox {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .lightbox img {
            max-width: 80%;
            max-height: 70%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .lightbox .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            <img src="https://inventorycapture.com/api/images/logo/logo-main.png" width="256px" />
        </h1>
        <table>
            <thead>
                <tr>
                    <th>Project #</th>
                    <th>Project Name</th>
                    <th>Boxes</th>
                    <th>Parts</th>
                    <th>Photos</th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach(project=> { %>
                    <tr class="project-row">
                        <td>
                            <%= project.id %>
                        </td>
                        <td><a href="projects/<%= project.id %>/boxes">
                                <%= project.label %>
                            </a></td>
                        <td>
                            <%= project.boxes.length %>
                        </td>
                        <td>
                            <%= project.parts %>
                        </td>
                        <td>
                            <%= project.captures %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>